.loginContainer{
  width: 360px;
  height: 372px;
  background-color: #FEF6F6;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.34);
  border-radius: 27px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.signupContainer{
  width: 408px;
  height: 605px;
  background-color: #FEF6F6;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.34);
  border-radius: 27px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.title{
  display: inline-block;
  position: absolute;
  top: 19px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  text-align: center;
  color: var(--primary-color);
  white-space: nowrap;
}

.inputBoxLogin{
  display: inline-block;
  height: 49px;
  width: 300px;
  border-radius: 11px;
  padding-left: 14px;
  padding-top: 1px;
  font-size: 15px;
  line-height: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid black;
}

.inputBoxSignup{
  display: inline-block;
  height: 49px;
  width: 346px;
  border-radius: 11px;
  padding-left: 14px;
  padding-top: 1px;
  font-size: 15px;
  line-height: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid black;
}

.inpBoxUsername{
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}

.inpBoxEmail{
  position: absolute;
  top: 199px;
  left: 50%;
  transform: translateX(-50%);
}

.inpBoxPassword{
  position: absolute;
  top: 208px;
  left: 50%;
  transform: translateX(-50%);
}

.inpBoxPasswordSignup{
  position: absolute;
  top: 269px;
  left: 50%;
  transform: translateX(-50%);
}

.inpBoxConfirmPassword{
  position: absolute;
  top: 442px;
  left: 50%;
  transform: translateX(-50%);
}

.directionsPassword{
  position: absolute;
  top: 335px;
  left: 50%;
  transform: translateX(-50%);
  width: 348px;
  height: 89px;
  background-color: #E5E5E5;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 15px;
  font-size: 12.5px;
  line-height: 16px;
}

.inpLabelContainer {
  position: absolute;
  left: 45px;
  font-size: 15px;
  color: var(--grey-color);
  opacity: 1;
  transform: translateY(0px);
  padding-inline: 4px;
  font-weight: 400;
  transition: color 0.25s ease, transform 0.25s ease, font-size 0.25s ease, font-weight 0.25s ease;
  background-color: #FEF6F6;
  pointer-events: none;
}

.inputBoxLogin::placeholder,
.inputBoxSignup::placeholder {
  opacity: 0;
}

.inputBoxLogin:focus::placeholder,
.inputBoxSignup:focus::placeholder {
  opacity: 0;
}

.dontMsgContainer{
  position: absolute;
  bottom: 74px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 2px;
  white-space: nowrap;
}

.dont{
  font-size: 14px;
  color: #626262;
}

.dontCTA{
  font-size: 14.5px;
  color: var(--primary-color);
  cursor: pointer;
}

.eyeIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: var(--primary-color);
  position: absolute;
  right: 43px;
  top: 221px;
}

.eyeIconSignup {
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: var(--primary-color);
  position: absolute;
  right: 43px;
  top: 281px;
}

.inputWrapper {
  position: relative;
}

.inputWrapper input:focus + .inpLabelContainer,
.inputWrapper input:not(:placeholder-shown) + .inpLabelContainer {
  color: var(--primary-color);
  transform: translateY(-22px);
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
}

.buttonWrapper {
  position: absolute;
  bottom: 21px;
  left: 50%;
  transform: translateX(-50%);
}

.buttonCTA {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  width: 111px;
  border-radius: 10px;
  font-size: 17.5px;
  color: white;
  text-align: center;
  background-color: var(--button-color);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.17);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  line-height: 0.1;
  transition: all 0.2s ease;
}

.buttonCTA:hover {
  transform: scale(1.05);
}

.toggleOverlay {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 24px;
  width: 71px;
  border-radius: 15px;
  background-color: #fef6f6;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  will-change: transform;
}

.toggle {
  display: flex;
  align-items: center;
  position: absolute;
  top: 71px;
  left: 50%;
  transform: translateX(-50%);
  height: 34px;
  width: 149px;
  border-radius: 30px;
  font-size: 15px;
  background-color: var(--button-color);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
  overflow: hidden;
}

.toggleLogin {
  cursor: pointer;
  position: absolute;
  left: 22px;
  z-index: 1;
  transition: color 0.3s ease;
}

.toggleSignUp {
  cursor: pointer;
  position: absolute;
  right: 18px;
  z-index: 1;
  transition: color 0.3s ease;
}