/* ChatbotPage.css */
.chatbot-container {
  margin: 60px 45px;
  display: flex;
  justify-content: center;
  gap: 42px;
}

.chatbot-container .back{
  position: absolute;
  right: 45px;
  top: 13px;
  background-color: #5E5FA5;
  color: white;
  font-size: 16px;
  width: 92px;
  height: 35px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.summary-display {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  width: 80%;
  height: 529px;
  overflow: auto;
  scrollbar-gutter: stable;
  position: relative; 
  scrollbar-width: thin;
  scrollbar-color: #5E5FA5 transparent;
}

.summary-display::-webkit-scrollbar {
  width: 8px;
}

.summary-display::-webkit-scrollbar-track {
  background: transparent;
}

.summary-display::-webkit-scrollbar-thumb {
  background-color: #5E5FA5;
  border-radius: 10px;
  border: 2px solid transparent;
}

.summary-display h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.chat-area {
  background-color: #e9ecef;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  padding-right: 0px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-list {
  overflow-y: auto;
  max-height: 300px;
  margin-bottom: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: #5E5FA5 rgba(231, 230, 230, 0);
}

.message-list::-webkit-scrollbar {
  width: 6px;
}

.message-list::-webkit-scrollbar-track {
  background: transparent;
}

.message-list::-webkit-scrollbar-thumb {
  background-color: #5E5FA5;
  border-radius: 10px;
  border: 2px solid transparent;
}

.message {
  padding: 8px 12px;
  border-radius: 6px;
  margin-bottom: 5px;
  word-break: break-word;
  font-size: 14.5px;
}

.message.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
  max-width: 80%;
}

.message.ai {
  background-color: #6c757d;
  color: white;
  align-self: flex-start;
  max-width: 80%;
}

.input-area {
  display: flex;
  padding-right: 20px;
}

.input-area input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px 4px 4px 8px;
  font-size: 13.5px;
  height: 37px;
}

.input-area button {
  position: relative;
  box-sizing: border-box;
  /* padding: 10px 15px; */
  width: 65px;
  height: 36px;
  background-color: #5E5FA5;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px 8px 8px 4px;
  cursor: pointer;
  margin-left: 6px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gistTitles{
  font-size: 14.5px;
  color: #6E00B3;
}

.gistInfo{
  font-size: 14.5px;
  color: #232323;
}

.gistitContainer .back{
  position: absolute;
  top: -55px;
}