/* GistHistory.css */
.gist-history-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gist-history-container .loadingContainer{
  background-color: #FEF6F6;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.34);
  border-radius: 27px;
  position: absolute;
  top: calc(50% - 50px);
  width: 360px;
  height: 372px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  will-change: transform, width;
  opacity: 1;
  transition: height 0.3s ease, width 0.2s ease-out;
  user-select: none;
}

.gist-history-container .loadingContainer span{
  bottom: 23px;
}

.gist-history-container .loadingContainer svg{
  width: 240px;
  height: 240px;
}

.page-title {
  color: #333;
}

.history-cards {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 900px;
}

.history-card {
  background-color: #FEF6F6; /* Light pink background */
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 26px;
  width: 901px;
  height: 74px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1) translateZ(0);
  backface-visibility: hidden;
  transition: transform 0.3s ease-in-out;
}

.history-card:hover{
  transform: scale(1.02) rotateZ(0);
}

.dateCount{
  position: absolute;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.dateCount .sepLine{
  height: 54px;
  width: 2px;
  background-color: #a9a8a8;
  border-radius: 5px;
}

.dateContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.1px;
}

.dateCount .date{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #595959;
  font-size: 0.85em;
}

.card-left {
  flex-grow: 1;
}

.card-title {
  color: #5e00b3; /* Purple title */
  white-space: nowrap;
  width: 570px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-author {
  color: #777;
  font-size: 0.9em;
}

.card-right {
  text-align: right;
}

.card-visited,
.card-created {
  color: #434343;
  font-size: 14.5px;
}

.no-history {
  color: #555;
  font-style: italic;
  margin-top: 20px;
}

.gist-history-container.error {
  color: red;
  font-weight: bold;
}

.card-desc{
  overflow: hidden;
  white-space: inherit;
  text-overflow: ellipsis;
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(67, 67, 67, 0.81);
  width: 293px;
  height: 57px;
}