.layout{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContent{
    position: relative;
    flex: 1;
    margin: 0 auto;
    width: 100%;
    /* margin-top: 100px; */
    min-height: calc(100vh - 80px);
}

@media (max-width: 768px) {
    .mainContent{
        padding: 1rem;
    }
}