.signupToggle{
  cursor: pointer;
}

/* .signupToggle:hover::after{
  content: '';
  display: inline-block;
  height: 24px;
  width: 62px;
  position: absolute;
  left: -6px;
  border-radius: 15px;
  background-color: #ffffff59;
  z-index: 0;
} */

.inpActiveUsername{
  top: 133px;
}

.inpActivePassword{
  top: 210px;
}

.signupContainer .inpActivePassword{
  top: 272px;
}

.inpActiveEmail{
  top: 202px;
}

.inpActiveConfirmPassword{
  top: 444px;
}