.signupToggle{
  cursor: pointer;
}

.loginSignupContainer{
  background-color: #FEF6F6;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.34);
  border-radius: 27px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  will-change: transform, width;
  opacity: 1;
  transition: height 0.3s ease, width 0.2s ease-out;
}

.innerContainer{
  transition: opacity 0.05s ease-in-out;
}

/* .signupToggle:hover::after{
  content: '';
  display: inline-block;
  height: 24px;
  width: 62px;
  position: absolute;
  left: -6px;
  border-radius: 15px;
  background-color: #ffffff59;
  z-index: 0;
} */

.inpActiveUsername{
  top: 142px;
}

.inpActivePassword{
  top: 220px;
}

.signup.inpActivePassword{
  top: 281px;
}

.inpActiveEmail{
  top: 211px;
}

.inpActiveConfirmPassword{
  top: 454px;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fef6f6 inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #fef6f6 inset !important;
  -webkit-text-fill-color: black !important;
  transition: background-color 50ms ease-in-out 0s;
}

.toggleOverlay.signup{
  left: auto;
  right: 5px;
}

.directionsPassword div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.directionsPassword div:nth-child(2) p:nth-child(2){
  position: absolute;
  top: 35px;
  margin-right: 15px;
}

.loginContainer{
  width: 360px;
  height: 372px;
}

.signupContainer{
  width: 408px;
  height: 605px;
}

.fadeOut{
  opacity: 0;
}

.toggle{
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.toggle:hover{
  color: rgb(255, 255, 255);
}

.toggle.active{
  color: rgba(0, 0, 0, 0.864);
  font-weight: 600;
}